div{
    border: 1px red solid;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #009688;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.title {
    font-size: 24px;
}

.info {
    font-size: 14px;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #009688; /* Добавляем границу */
}

footer {
    background: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 200px; /* Отступ для боковой панели */
}

.controls {
    display: flex;
    gap: 10px;
}

.controls button {
    padding: 10px 20px;
    background: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#listButtons button {
    padding: 10px 20px;
    margin: 2px;
    background: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
}


.controls button:hover {
    background: #00796b; /* Цвет при наведении */
}

aside {
    width: 200px;
    background: #f8f8f8;
    padding: 15px;
    border-left: 2px solid #009688;
    position: fixed; /* Фиксируем боковую панель */
    top: 0;
    left: 0;
    height: 100%;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin: 10px 0;
}

aside ul li a {
    text-decoration: none;
    color: #009688;
}

aside ul li a:hover {
    text-decoration: underline;
}
